* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f);

}

.navbar {
  background: #1a73e8;
  padding: 10px;
  height: 1.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin: 10px;
}

.navbarheading p {
  font-size: 20px;
}



.navbar-links a:hover {
  color: #90FFDC;
  border-bottom: 2px solid #90FFDC;
  transition: all 0.3s linear; 
}

.navbarheading span {
  color: #90FFDC;
}

.form-container {
  max-width: 17rem;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: black;

}

form label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
}

form select,
form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #d32f2f;
  color: white;
  cursor: pointer;
  border: 1px solid #d32f2f;
}

form button:hover {
  background-color: #fff;
  color: #d32f2f;
}



#container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  background: rgba(110, 110, 110, 0.5);
  border-top: 1px solid #ffffff;
  border-radius: 20px;
  position: fixed;
  bottom: -8px;
  box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1);

}

.footer img {
  width: 24rem;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}